@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-12">
        <h2>Übersicht meiner Fähigkeiten:</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h2>C#, WinForms & WPF</h2>
        <p>
            Die meisten Erfahrungen in der Programmierwelt durfte ich mit C# machen. In Kombination mit der WinForms Gui, ist in Handumdrehen eine gute Applikation geschrieben.
            Wenn es anspruchsvoller in der GUI werden soll, nehme ich immer WPF.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>ASP.NET, MVC & WEB.API</h2>
        <p>ASP.NET mit MVC und Razor ist eine sehr starke Umgebung, mit der man die kompliziertesten Web Applikationen entwickeln kann.
        In Kombination mit dem Identity & Entity Framework ist dies, meiner Meinung nach, unschlagbar. Zusammen mit der RESTfull API Web.Api bietet ASP.NET heutige Standards.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>.NET Universum</h2>
        <p>
            Das .NET Universum beinhaltet neben den GUIs, wie Xamarin oder WPF, und den Möglichkeiten, wie ASP.NET, die Möglichkeit CEFs,
            Services und sonstiges zu programmieren. In C#, Visual Basic und F#, womit das .NET Universum zu meiner Heimat geworden ist.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h2>HTML 5</h2>
        <p>
            Visueller Content, wie auch dieser Text, ist in HTML geschrieben. Neben den Möglichkeiten, wie die Formatierung, bietet HTML
            gute Möglichkeiten der Strukturierung, auch außerhalb einer Website.
        </p>
    </div>
    <div class="col-md-4">
        <h2>jQuery & Javascript</h2>
        <p>
            Zur erfolgreichen Webentwicklung gehören natürlich auch Kenntnisse in JavaScript. Zusammen mit der jQuery Library ist JavaScript
            ein starkes Tool für die DOM Manipulation.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Bootstrap</h2>
        <p>
            Natürlich gehört zu der Webentwicklung auch der Design Aspekt. Obwohl man alles manuell in CSS definieren kann, werden gerne auch
            andere Libraries benutzt. Hier greife ich sehr gerne auf Bootstrap zurück, um in wenig Zeit viel designerischen Vorteil zu erhalten.
        </p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h2>Lua</h2>
        <p>
            Lua ist eine interessante Scriptsprache, die sich sehr gut einbetten lässt. Auch wenn sie manchmal altertümlich scheint,
            lässt sie einem die Möglichkeit, echt starke Tools, Mods oder Plugins zu entwickeln.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Python</h2>
        <p>
            Python ist wohl die beliebteste Scriptsprache und einer der beliebtesten Sprachen. Einfach im Einstieg bietet Python mittlerweile
            genügend Libraries um mit jeder High Level Programmiersprache mitzuhalten.
        </p>
    </div>
    <div class="col-md-4">
        <h2>C++ & Java</h2>
        <p>
            C++ und Java sind altbewährte Sprachen, natürlich good to know.
        </p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h2>SQL Datenbanken</h2>
        <p>Platzhalter</p>
    </div>
    <div class="col-md-4">
        <h2>Entity Framework</h2>
        <p>Platzhalter</p>
    </div>
    <div class="col-md-4">
        <h2>OpenCV</h2>
        <p>Platzhalter</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h2>Visual Studio 2017</h2>
        <p>Platzhalter</p>
    </div>
    <div class="col-md-4">
        <h2>Jetbrains</h2>
        <b>Platzhalter</b>
    </div>
    <div class="col-md-4">
        <h2>Git & TFS/Azure DevOps</h2>
        <b>Platzhalter</b>
    </div>
</div>
