@page "/contact"

<h3>Contact</h3>

@code {

}

<h2>Kontaktdaten</h2>

<address>
    Alexander-Paul Iudik<br />
    An der Arche 1<br />
    79183 Freiburg<br />
    Germany<br />
</address>

<address>
    <strong>E-Mail:</strong>   <a href="mailto:aiudik@stud.macromedia.de">aiudik@stud.macromedia.de</a><br />
</address>