@page "/skills"

<h3>Skills</h3>

@code {

}

<div class="row">
    <div class="col-md-12">
        <h2>Übersicht meiner Fähigkeiten:</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Blazor</h2>
            </div>
            <div class="card-body">
                Eins der neusten Produkten aus dem .NET Universum sind Blazor-Apps. Zusammen mit ASP.NET Core ist dies ein starkes Tool um Webapplikationen zu bauen.
                Blazor ist bezüglich Handhabung und Performance unschlagbar, vorallem weil es auf Model-View-Controlls und JavaScript verzichtet und somit auch die Seite Client-Seitig rendern lässt.
                Blazor ermöglicht es C# Code auf der Seite zu verwenden und, im Unterschied zu Razor, weiterhin fortlaufend zu nutzen.
                Durch die neuste Errungenschaft im Webbereich WebAssembly ist das möglich.
                Zu Demonstrationszwecken ist diese Seite mit Blazor geschrieben.
                Den OpenSource Code zu dieser Seite finden Sie hier:
            </div>
            <div class="card-footer">
                <button class="btn btn-dark">GitHub</button>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>C#, WinForms & WPF</h2>
            </div>
            <div class="card-body">
                Die meisten Erfahrungen in der Programmierwelt durfte ich mit C# machen. In Kombination mit der WinForms Gui, ist in Handumdrehen eine gute Applikation geschrieben.
                Wenn es anspruchsvoller in der GUI werden soll, nehme ich immer WPF.
            </div>
            <div class="card-footer">

            </div>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>ASP.NET, MVC & WEB.API</h2>
            </div>
            <div class="card-body">
                ASP.NET mit MVC und Razor ist eine sehr starke Umgebung, mit der man die kompliziertesten Web Applikationen entwickeln kann.
                In Kombination mit dem Identity & Entity Framework ist dies, meiner Meinung nach, unschlagbar. Zusammen mit der RESTfull API Web.Api bietet ASP.NET heutige Standards.
            </div>
            <div class="card-footer">

            </div>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>.NET Universum</h2>
            </div>
            <div class="card-body">
                Das .NET Universum beinhaltet neben den GUIs, wie Xamarin oder WPF, und den Möglichkeiten, wie ASP.NET, die Möglichkeit CEFs,
                Services und sonstiges zu programmieren. In C#, Visual Basic und F#, womit das .NET Universum zu meiner Heimat geworden ist.
            </div>
            <div class="card-footer">

            </div>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>HTML 5</h2>
            </div>
            <div class="card-body">
                Visueller Content, wie auch dieser Text, ist in HTML geschrieben. Neben den Möglichkeiten, wie die Formatierung, bietet HTML
                gute Möglichkeiten der Strukturierung, auch außerhalb einer Website.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>jQuery & Javascript</h2>
            </div>
            <div class="card-body">
                Zur erfolgreichen Webentwicklung gehören natürlich auch Kenntnisse in JavaScript. Zusammen mit der jQuery Library ist JavaScript
                ein starkes Tool für die DOM Manipulation.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>Bootstrap</h2>
            </div>
            <div class="card-body">
                Natürlich gehört zu der Webentwicklung auch der Design Aspekt. Obwohl man alles manuell in CSS definieren kann, werden gerne auch
                andere Libraries benutzt. Hier greife ich sehr gerne auf Bootstrap zurück, um in wenig Zeit viel designerischen Vorteil zu erhalten.
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>Lua</h2>
            </div>
            <div class="card-body">
                Lua ist eine interessante Scriptsprache, die sich sehr gut einbetten lässt. Auch wenn sie manchmal altertümlich scheint,
                lässt sie einem die Möglichkeit, echt starke Tools, Mods oder Plugins zu entwickeln.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>Python</h2>
            </div>
            <div class="card-body">
                Python ist wohl die beliebteste Scriptsprache und einer der beliebtesten Sprachen. Einfach im Einstieg bietet Python mittlerweile
                genügend Libraries um mit jeder High Level Programmiersprache mitzuhalten.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>C++ & Java</h2>
            </div>
            <div class="card-body">
                C++ und Java sind altbewährte Sprachen, natürlich good to know.
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>SQL Datenbanken</h2>
            </div>
            <div class="card-footer">Platzhalter</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>Entity Framework</h2>
            </div>
            <div class="card-body">Platzhalter</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>OpenCV</h2>
            </div>
            <div class="card-body">Platzhalter</div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>Visual Studio 2019</h2>
            </div>
            <div class="card-body">Platzhalter</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>Jetbrains</h2>
            </div>
            <div class="card-body">
                Platzhalter
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>Git & TFS/Azure DevOps</h2>
            </div>
            <div class="card-body">Platzhalter</div>
        </div>
    </div>
</div>
