<h3>Sourcecode</h3>

@page "/sourcecode"
@code {

}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Bachelorprojekt: FileOverwatch</div>
            <div class="card-body">
                Bezüglich meiner Bachelorarbeit wollte ich eine Software erstellen, die in Sekretariaten genutzt werden kann.
                Die Herausforderung bestand darin, eine Software zu erschaffen, die es ermöglicht, Dateien unter Kategorien wie "Organisationen", "Gruppen" und "Mitarbeitern" zu archivieren.
                Dieses System verlinkt aber nur die Dateien über eine SQLite Datenbank, weshalb es möglich ist, eine eigene Ordnerstruktur im echten File System zu haben.
                Außerdem bietet diese Möglichkeit eine gute Kompatibilität zu Cloud Systemen vorallem durch das Speichern der Information in einer SQLite Datei.
                Die Aufgabe, die ich mir gestellt habe:
                Eine kostenlose, Open-Source Software für Büros und Sekretariate zu erstellen, die entweder direkt genutzt werden kann oder Basis und Inspiration für andere Projekte bietet und auch performant und schnell anwendbar ist.
            </div>
            <div class="card-footer">
                <button class="btn btn-outline-dark">Source Code</button>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Neuronales Netz: Perceptron</div>
            <div class="card-body">
                Im Ramen einer studentischen Arbeit zum Modulbereich "Maschinelles Lernen" erhielt ich die Aufgabe ein Perceptron zu entwickeln und dieses Projekt auch vorzustellen.
                Diese Aufgabe habe ich nach Recherchen zu Perceptrons mit C# und .NET Core einfach gelöst.
                Beim Perceptron handelt es sich um ein neuronales Netz, das einen Neuron als Kern, 3 Inputs und 1 Output hat.
                Die Inputs werden gewichtet und ein Input ist das sogenannte Bias, in meinem Beispiel "1".
                Im Lernalgorythmus nähert sich das Perceptron anhand von berechneten Fehlern, die mit dem Gewicht verrechnet werden, und der vorgegebenen Lösung an diese an.
                Sobald er diesen Weg gefunden hat, kann das Perceptron mit einer geringen Fehlerquote, so wie er trainiert wurde, die Lösung finden.
                In diesem Beispiel sucht er nach 4 richtigen Zahlenwerten zwischen 1 und 0.
            </div>
            <div class="card-footer">
                <button class="btn btn-outline-info">Live demo</button>
                <button class="btn btn-outline-dark">Source Code</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Streamer Utility Bot
            </div>
            <div class="card-body">
                Als leidenschaftlicher Streamer und Community Administrator war mir die Entwicklung eines Chatbots für Twitch und Discord ein persönliches Belangen.
                Anhand der Twitch- und Discord-API, habe ich eine C# Applikation entwickelt, die den Chat überwacht und mehrere Funktionen bietet, wie das Abspielen von Songrequests etc.
                Überzeugen Sie sich doch sehr gerne selbst von der Applikation und kontaktieren Sie mich bitte, wenn Sie eine Vollversion des Programms haben möchten.
            </div>
            <div class="card-footer">
                <button class="btn btn-outline-danger">Kostenlose Testversion</button>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">GitHub Overview</div>
            <div class="card-body">
                Besuchen Sie doch einfach meine GitHub Repositories und überzeugen Sie sich gerne von meiner Arbeit!
            </div>
            <div class="card-footer">
                <button class="btn btn-outline-dark">GitHub</button>
            </div>
        </div>
    </div>
</div>
<br />